<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.revolgenx.anilib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.MediaBrowseActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="anilist.co"
                    android:pathPrefix="/anime/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist.co"
                    android:pathPrefix="/manga/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ContainerActivity" />
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilib.app"
                    android:scheme="callback" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ViewPagerContainerActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.MediaListActivity" />
        <activity android:name=".activity.UserProfileActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="anilist.co"
                    android:pathPrefix="/user/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name=".activity.ExoVideoPlayerActivity"-->
<!--            android:configChanges="orientation|screenSize|keyboardHidden"-->
<!--            android:launchMode="singleTop"-->
<!--            android:screenOrientation="fullSensor" />-->
        <activity
            android:name=".activity.SimpleDraweeViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity android:name=".activity.NavViewPagerContainerActivity" />
        <activity android:name=".activity.ToolbarContainerActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.NotificationActivity" />

        <service android:name=".radio.service.RadioService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2546597730102301~6088602294"/>
    </application>

</manifest>